body{
    background: #FAFAFA !important
}
.mt--1{
    margin-top: -1rem !important
}
.header {
    height: 55px;
}
.top-menu {
    position: initial; 
    left: initial; 
    top: initial;
    width: initial; 
    padding: 1.3rem 0rem 0rem 0rem;
    box-shadow: initial;
}
.top-menu>li>a {

    font-weight: 300;
    
}
.header__logo>h1 {
    line-height: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
}
.user__info {
    padding-top: 0.3rem;
    padding-right: 0.7rem;
    padding-bottom: 0.3rem;
    padding-left: 0.7rem;
}
.user__info-white:hover{
    background-color: rgba(255,255,255,.2)
}
.user__name{
    color: #fff;
    font-weight: 300;
}
.user__type{
    color: #fff;
    font-weight: 300;
}
.text-logo{
    font-size: 2.5rem !important;
    text-transform: uppercase;
    letter-spacing: .5rem;
}
.img-logo{
    width: 12rem;
}
.user__img {
    border-radius: 10%;
}
.dropdown-item{
    color: #000000 !important;
    font-family: 'Segoe UI';
    letter-spacing: .01rem;
    font-size: .95rem;
    font-weight: 300;
    padding: 0.2rem 2.5rem;
}
.dropdown-menu{
    box-shadow: 5px 5px 2px -4px rgba(0,0,0,.3);
    border: 1px solid rgb(240, 240, 240);
    padding: .2rem 0;
}
.time>span:not(:last-child):after {
    content: ':';
    width: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -1px;
    right: -2px;
}
.font-2{
    font-size: 2rem !important
}
.card-body>.actions-trans,.card>.actions-trans {
    top: 2px;
}
.btn{
    border: 0px solid transparent !important;
    line-height: 1.66;
}
.btn-m{
    padding: .37rem 0.775rem;
}
.btn_table_fix{
    height: 0px !important;
    line-height: 20px !important;
    color: #a9adb1;
    margin: 0;
}
.salida:hover{
    color: #ff6b68 !important
}

.detalles:hover{
    color:rgb(203, 234, 248);
}
.entrada:hover{
    color:#32c787 !important
}
.entrada{
    padding: .1rem .3rem .1rem .3rem;
    margin: 0 .1rem;

}
.salida{
    padding: .1rem .3rem .1rem .3rem;
    margin: 0 .1rem;

}
.detalles{
    padding: .1rem .3rem .1rem .3rem;
    margin: 0 .1rem;
    border-radius: .15rem;
}
.radio__label:after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff6b68;
    top: 5px;
    left: 5px;
}
.checkbox>input[type=checkbox]:checked~.checkbox__label:before, .checkbox>input[type=checkbox]:checked~.radio__label:before, .checkbox>input[type=radio]:checked~.checkbox__label:before, .checkbox>input[type=radio]:checked~.radio__label:before, .radio>input[type=checkbox]:checked~.checkbox__label:before, .radio>input[type=checkbox]:checked~.radio__label:before, .radio>input[type=radio]:checked~.checkbox__label:before, .radio>input[type=radio]:checked~.radio__label:before {
    border-color: #ff6b68;
}
.fix_table{
    text-align: end;
    width: 9rem;
    padding: .7rem 0.7rem !important;
}

.dataTables_wrapper .table {
    margin: -10px 0 10px !important;
}
@media (min-width: 992px){
    .modal-lg {
        max-width: 850px;
    }
}
.datepicker{
    width: 18rem;
    height: 15rem;
}
.datepicker-days table{
    width: 18rem;
    height: 15rem;
}
tr .ellipsis{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: initial;
    max-width: 7rem !important;
}
tr .ellipsis:active{
    width: initial;
    max-width: 100% !important;
}

.badge-soft-primary {
    color: #2c7be5;
    background-color: #d5e5fa;
}
.stats_cont{
    font-size: 1rem !important; 
    text-transform: uppercase;
    font-weight: 400 !important;
    color: #868e96;
}
.content__title .actions {
    line-height: 30px;
}
.child{
    border-left: 1px solid red;
}

.form-group-h {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.form-control-h {
    background: transparent;
    opacity: .6;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    resize: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-overflow-style: none;
    /* display: block; */
    /* width: 100%; */
    padding: .375rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bl{
    border-left: 1px solid #747a8075;
    padding-left: 5px;
}
.dataTables_wrapper .table>thead>tr>th.sorting_asc:after, .dataTables_wrapper .table>thead>tr>th.sorting_desc:after {
    font-family: Material-Design-Iconic-Font;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
    font-size: 1.4rem;
}
table.dataTable thead td.select-checkbox, table.dataTable thead th.select-checkbox {
    position: relative;
}
table.dataTable thead td.select-checkbox:before, table.dataTable thead th.select-checkbox:before {
    content: ' ';
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid black;
    border-radius: 3px;
}
table.dataTable thead td.select-checkbox:before, table.dataTable thead td.select-checkbox:after, table.dataTable thead th.select-checkbox:before, table.dataTable thead th.select-checkbox:after {
    display: block;
    position: absolute;
    top: 1.6em;
    left: 50%;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
}
table.dataTable tr th.select-checkbox.selected::after {
    content: '\2714';
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
}
.table td, .table th {
    padding: .7rem 1.5rem;
}
.plus-hover:hover{
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 50%
}
.hover_r:hover{
    background: rgba(0, 174, 255, 0.5)
}
.hover_h:hover{
    background: rgba(0, 255, 13, 0.5)
}
.is-invfield{
    display: flex!important;
}
.invfield{
    position: absolute;
    left: 3.5rem;
}
.invfield {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80% !important;
    color: #ff6b68;
}
.invfieldset{
    border-color: #ff6b68 !important
}
fieldset{
    border-radius: .25rem;
}
.b{
    bottom: .5rem
}
.navigation li a {
    font-weight: 400;
}
.d-flx{
    display: flex;
}
.jumbotron>h1 {
    font-weight: 400;
    color:#8e9499;
}
th{
    text-transform: uppercase
}

.card{
    border-radius: 4px !important;
}
.card_trans{
    background: transparent;
    box-shadow: none
}
.card-body-table {
    padding-top: 0;
}
.body-full{
    padding: unset !important;
}
.card-title-table {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 140%;
    margin-top: -.35rem;
    padding: .7rem 1.4rem 1.2rem 0rem;
    background-color:/*  #f2f4f5 */ transparent;
    text-transform: uppercase;
    /* border-radius: 3px 3px 0 0!important; */
    margin-bottom: 0rem;
}
.dataTables__top {
    position: absolute;
    right: 1.4rem;
    z-index: 2;
    top: 2px;
}
.dataTables__top.e_s{
    position: absolute;
    top: 16.5rem;

}
.dataTables_buttons input{
    border:none;
}
.dataTables_length select[name="table_entradas_length"]{
    border-bottom: none;
}
#table_entradas_length{
    float: left;
    min-width: 100px;
}
.dataTables_buttons {
    float: right;
    margin: 2px 0px 0px 20px;
    border-bottom: none;
    min-height: 34px;
}
.dataTables_length>label>select{
    color: #8e9499
}
.dataTables_buttons>span,.dataTables_buttons>.dropdown{
    color: #8e9499 !important
}
.dataTables_paginate,.dataTables_info {
    text-align: end; 
    margin-top: -2.5rem;
}
.dataTables_info {
    text-align: start;
    margin-top: 2rem;
}

.form-control {
    border-left: initial;
    border-right: initial;
    border-top: initial;
    resize: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-overflow-style: none;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .7rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    /* border-color:  #dadada; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#min,#max{
    display: initial;
    width: 31.9%;
}
#min_e_s,#max_e_s{
    display: initial;
    width: 28.9%;
}
/* .flush {
    padding: 0;
    border-width: 0;
    background: transparent;
} */
.checkbox__label:before, .radio__label:before {
    border: 1px solid;
}
.sidebar {
    width: 240px;
    position: fixed;
    left: 0;
    padding: 102px 2rem .5rem;
    height: 100%;
    overflow: hidden;
    z-index: 19;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 1px solid #eceff1;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.2em;
}
legend {
    width: inherit;
    max-width: inherit;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: inherit;
    white-space: normal;
}
@media (max-width: 1199.98px) and (min-width: 576px){
    .content:not(.content--boxed):not(.content--full) {
        padding: 80px 30px 0;
    }   
}
@media (min-width: 1200px){
    .content:not(.content--boxed):not(.content--full) {
        padding: 80px 30px 0 250px;
    }
}
@media (min-width: 576px){
    .col-modal-sm-3{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 20.5%;
    }
}
.process-model {
    list-style: none;
    padding: 0px;
    position: relative;
    /* max-width: 600px; */
    margin: 10px auto -10px;
    border: none;
    z-index: 0;
    right: .5rem;
}
.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    right: 70px;
    top: 17px;
    width: 60%;
    z-index: -1;
}
.process-model li {
    display: inline-block;
    width: 30%;
    text-align: center;
    float: none;
}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li i {
    display: block;
    height: 35px;
    width: 35px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 33px;
    font-size: 18px;
    border-radius: 50%;
}
.process-model li.active i, .process-model li.visited i  {
    background: #fff;
}

@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}
@media screen and (max-width: 380px) { 
    .process-model.more-icon-preocess li {
        width: 16%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
}

.table-seguimiento td, .table-seguimiento th {
    padding: 0rem 1.5rem;
    vertical-align: inherit !important;
}
@media (min-width: 576px){
    .cantidad {
        max-width: 400px;
        margin: 1.75rem auto;
    }
}
.process-modal li::after{
    right: 195px;
}
.process-model li.active a{
    color: #57b87b;
}
.hide{
    display: none !important;
}
.input-m {
    
    border: none;
   
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eceff1;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.modal-header {
    padding: 15px 30px 15px;
}

.modal-body-m{
    background: #FAFAFA;
    padding: 20px 25px 0px;
}
.modal-footer {
    padding-top: .8rem;
    padding-bottom: .8rem;
}
.m{
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}
.select:before {
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: 1;
    right: 1px;
    bottom: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent #d1d1d1;
}
.select-m{
    border: none;
    color: #495057;
}
.zmdi-m{
    margin: -4px 0px 0 0 !important;
    vertical-align: middle !important;
    font-weight: 100 !important;
    font-size: 1.5rem !important;
}