<section class="content  animated fadeIn">
  <div class="content__inner">
    <div class="card card_trans">
      <div class="card-title card-title-table">Inventario/
        <span style="text-transform: capitalize;font-size: 1rem">Entradas / Salidas</span>
      </div>
      <div class="actions actions-trans">
        <button class="btn btn-primary btn--icon-text" id="mostrar_todo"><i class="zmdi zmdi-format-list-numbered"></i>Mostrar todo</button>
        <div class="dropdown actions__item">
          <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item">Refresh</a>
            <a href="#" class="dropdown-item">Manage Widgets</a>
            <a href="#" class="dropdown-item">Settings</a>
          </div>
        </div>
      </div>
      <div class="card-body body-full">
        <div class="row">
          <div class="col-12">
            <form id="form_buscar_poducto" class="form-row">
              <label class="col-auto col-form-label">Buscar producto :</label>
              <div class="col-5">
                <div class="input-group">
                  <input list="productos" class="form-control" id="buscar_producto" autocomplete="off"/>
                  <div class="input-group-prepend">
                    <a class="actions__item zmdi zmdi-search" title="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-toggle="tooltip" data-placement="right"></a>
                  </div>
                  <datalist id="productos">
                  </datalist>
                </div>
              </div>
            </form>
            <fieldset id="detalles_producto">
              <legend>DETALLES DEL PRODUCTO - <strong id="persona"></strong></legend>
              <div class="form-row">
                <label class="col-auto col-form-label">Codigo : </label>
                <div class="col-md-1">
                  <div class="form-group">
                    <input type="text" class="form-control flush" id="cod_pro" placeholder="#0000" disabled/>
                  </div>
                </div>
                <label class="col-auto col-form-label">Producto : </label>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control flush" id="nom_pro" placeholder="Producto" disabled/>
                  </div>
                </div>
                <label class="col-auto col-form-label">Categoria : </label>
                <div class="col-md-2">
                  <div class="form-group">
                    <input type="text" class="form-control flush" id="cat_pro" placeholder="Categoria" disabled/>
                  </div>
                </div>
                <label class="col-auto col-form-label">Unidad(es): </label>
                <div class="col-md-1">
                  <div class="form-group">
                    <input type="text" class="form-control flush" id="uni_pro" placeholder="####" disabled/>
                  </div>
                </div>
                <br>
                <label class="col-auto col-form-label">Cantidad : </label>
                <div class="col-md-2">
                  <div class="form-group">
                    <input type="text" class="form-control flush" id="cant_pro" placeholder="###" disabled/>
                  </div>
                </div>
                <label class="col-auto col-form-label">Stock : </label>
                <div class="col-md-2">
                  <div class="form-group">
                    <input type="text" class="form-control flush" id="stock_pro" placeholder="Stock" disabled/>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <button class="btn btn-primary btn--icon-text"><i class="zmdi zmdi-close"></i>Reportar perdida</button>
                  </div>
                  </div>
                </div>
                
            </fieldset>
            <div class="tab-container">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#entradas" role="tab">Entradas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#salidas" role="tab">Salidas</a>
                </li>

              </ul>
              <div class="tab-content">
                <div class="tab-pane active fade show" id="entradas" role="tabpanel">
                  <div class="table-responsive">
                    <table id="table_entradas" class="table table-striped" style="width:100%">
                      <thead class="thead-default">
                        <tr>
                          <th>Codigo</th>
                          <th>Fecha e.</th>
                          <th>Proveedor</th>
                          <th>Fecha v.</th>
                          <th>Precio</th>
                          <th>Unidad</th>
                          <th>Cantidad</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
                <div class="tab-pane fade" id="salidas" role="tabpanel">
                  <div class="table-responsive">
                    <table id="table_salidas" class="table table-striped">
                      <thead class="thead-default">
                        <tr>
                          <th>Codigo</th>
                          <th>Fecha e.</th>
                          <th>Proveedor</th>
                          <th>Fecha v.</th>
                          <th>Precio</th>
                          <th>Unidad</th>
                          <th>Cantidad</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ----Modal---- -->
<div class="modal fade" id="modal_entrada" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title pull-left text-center">Entrada</h5>
        </div>
        <form id="entrada" autocomplete="off">
          <div class="modal-body modal-body-m">
            <div class="card-body card-body-table body-full">
                <div class="table-responsive">
                  <fieldset class="mb-3" style="background: #fff;">
                    <legend>DETALLES DEL PRODUCTO - <strong></strong></legend>
                    <input type="hidden" name="producto" class="cod_pro" required/>
                    <table id="data-table" class="table table-striped mt--1 mb-4">
                      <thead class="thead-default">
                        <tr>
                          <th>Codigo</th>
                          <th>Producto</th>
                          <th>Categoria</th>
                          <th>Unid/Cant</th>
                          <th>Stock</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="codigo"></td>
                          <td class="producto"></td>
                          <td class="categoria"></td>
                          <td class="min-max"></td>
                          <td class="stock"></td>
                        </tr>
                      </tbody>
                    </table>
                  </fieldset>
                </div>
              </div>
              <div class="form-row">
                  <div class="col" style="flex: 0 0 27.333333%;max-width: 27.333333%;">
                      <div class="form-group input-group">
                          <div class="input-group-prepend">
                              <div class="input-group-text"><i class="zmdi zmdi-calendar"></i></div>
                          </div>
                          <input type="date" class="form-control" name="fecha_e" placeholder="Fecha de ingreso" onfocus="(this.type='date')" value="<?=date('Y-m-d')?>" required/>
                      </div>
                  </div>
              </div>
              <!-- <div class="form-group">
                  <input type="text" class="form-control" placeholder="Proveedor">
              </div> -->
              <div class="form-row">
                  <div class="col-md-5">
                      <div class="form-group">
                          <input type="text" list="proveedores" class="form-control" name="proveedor" placeholder="Proveedor" required/>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group input-group">
                          <div class="input-group-prepend">
                              <div class="input-group-text">Bs.S</div>
                          </div>
                          <input type="text" class="form-control" name="precio" placeholder="Precio" required/>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group input-group">
                          <div class="input-group-prepend">
                              <div class="input-group-text"><i class="zmdi zmdi-calendar"></i></div>
                          </div>
                          <input type="text" class="form-control" name="fecha_v" placeholder="Fecha de vencimiento" onfocus="(this.type='date')" min="<?=date('Y-m-d')?>" required/>
                      </div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="col-md-2">
                      <div class="form-group">
                          <input type="number" class="form-control uni" name="unidad" min="1" placeholder="Unidad(es)" required/>
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="form-group input-group">
                          <input type="number" class="form-control can" name="cantidad" min="1" placeholder="Cantidad" required/>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group input-group">
                          <label class="col-form-label total">Total = 0</label> <label class="col-form-label">&nbsp;(KG)</label>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- modal -->
  <div class="modal fade" id="modal_salida" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title pull-left">Salida</h5>
        </div>
        <form id="Salida" autocomplete="off">
          <div class="modal-body modal-body-m">
            <div class="card-body card-body-table body-full">
                <div class="table-responsive">
                  <fieldset class="mb-3" style="background: #fff;">
                    <legend>DETALLES DEL PRODUCTO - <strong></strong></legend>
                    <input type="hidden" name="producto" class="cod_pro" required/>
                    <table id="data-table" class="table table-striped mt--1 mb-4">
                      <thead class="thead-default">
                        <tr>
                          <th>Codigo</th>
                          <th>Producto</th>
                          <th>Categoria</th>
                          <th>Unid/Cant</th>
                          <th>Stock</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="codigo"></td>
                          <td class="producto"></td>
                          <td class="categoria"></td>
                          <td class="min-max"></td>
                          <td class="stock"></td>
                        </tr>
                      </tbody>
                    </table>
                  </fieldset>
                </div>
              </div>
              <div class="form-row">
                  <div class="col" style="flex: 0 0 27.333333%;max-width: 27.333333%;">
                      <div class="form-group input-group">
                          <div class="input-group-prepend">
                              <div class="input-group-text"><i class="zmdi zmdi-calendar"></i></div>
                          </div>
                          <input type="date" class="form-control date" name="fecha_s" placeholder="Fecha de salida" min="<?=date('Y-m-d')?>">
                      </div>
                  </div>
              </div>
              <!-- <div class="form-group">
                  <input type="text" class="form-control" placeholder="Proveedor">
              </div> -->
              <div class="form-row">
                  <div class="col-md-4">
                      <div class="form-group">
                          <input type="text" class="form-control" name="destino" placeholder="Destino" value="Muchi's Cafe C.A">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                         
                          <input type="text" class="form-control" name="transporte" placeholder="Transporte">
                      </div>
                  </div>
                  
              </div>
              <div class="form-row">
                  <div class="col-md-2">
                      <div class="form-group">
                          <input type="number" class="form-control uni-s" name="unidad" min="1" placeholder="Unidad(es)">
                      </div>
                  </div>
                  <label class="col-form-label">ó</label>
                  <div class="col-md-2">
                      <div class="form-group input-group">
                          <input type="number" class="form-control can-s" name="cantidad" min="1" placeholder="Cantidad">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group input-group">
                          <label class="col-form-label total-s">Total = 0</label> <label class="col-form-label">&nbsp;(KG)</label>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>