<section class="content animated zoomIn">
    <div class="content__inner">
        
        <div class="jumbotron">
            <h1 class="display-3">BIENVENIDO</h1>
            <p class="lead">SISTEMA DE CONTROL DE INVENTARIO MUCHI'S CAFE.</p>

            <hr class="my-4">

            <p>Desarrollada por el equipo de <strong>SOG TENCHNOLOGY</strong> en colaboracion con <strong>MUCHi'S CAFE C.A</strong>.</p>
            <a class="btn btn-primary " href="#" role="button">Saber mas</a>
        </div>
    </div>

    <footer class="footer hidden-xs-down">
        <p>© MUCHI'S CAFE C.A. All rights reserved.</p>

        <ul class="nav footer__nav">
            <a class="nav-link" href="#">HOME</a>

            <a class="nav-link" href="#">INVENTARIO</a>

            <a class="nav-link" href="#">REQUERIMIENTO</a>

            <a class="nav-link" href="#">SEGUIMIENTO</a>

            <a class="nav-link" href="#">HISTORIAL</a>
        </ul>
    </footer>
</section>