<datalist id="categorias"></datalist>
<datalist id="proveedores"></datalist>
<section class="content  animated fadeIn">
  <div class="content__inner">
    <div class="row">
      <div class="col-md-12">
        <div class="card card_trans">
          <div class="card-title card-title-table">Inventario/
            <span style="text-transform: capitalize;font-size: 1rem">Productos</span>
          </div>
          <div class="card-body card-body-table body-full">
            <div class="table-responsive">
              <table id="data-table" class="table table-striped">
                <thead class="thead-default">
                  <tr>
                    <th>Codigo</th>
                    <th>Producto</th>
                    <th>Caja(s)</th>
                    <th>Unidad(es)</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Codigo</th>
                    <th>Producto</th>
                    <th>Caja(s)</th>
                    <th>Unidad(es)</th>
                    <th>Total</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ----Modal---- -->
<div class="modal fade" id="modal_nuevo" tabindex="-1">
  <div class="modal-dialog  modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left text-center">Nuevo</h5>
      </div>
      <form id="nuevo_producto" autocomplete="off">
        <div class="modal-body modal-body-m">
          <div class="form-row">
            <div class="col" style="flex: 0 0 18.333333%;max-width: 18.333333%;">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">#</div>
                </div>
                <input type="text" minlength="5" maxlength="5" class="form-control" name="cod" placeholder="Codigo">
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="zmdi zmdi-coffee"></i></div>
                </div>
                <input type="text" class="form-control" maxlength="100" name="nombre" placeholder="Producto" required/>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="zmdi zmdi-label"></i></div>
                </div>
                <input class="form-control" maxlength="50" list="categorias" name="categoria" placeholder="Selecioné categoria" required/>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-5" >
              <div class="form-group input-group">
                <input type="number" class="form-control" name="unidad_caja" placeholder="321"/>
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <select class="select-m" id="unidad_medida" name="unidad_medida" required>
                      <option disabled selected>Selecione</option>
                      <option value="Pcs">Piezas</option>
                      <option value="Kgs">Kilogramos</option>
                    </select>
                  </div>
                </div>
                <div class="input-group-prepend">
                  <div class="input-group-text">Por caja</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4" >
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Almacen</div>
                </div>
                <input type="number" class="form-control uni" id="al_min" name="al_min" min="1" placeholder="Min" required/> 
                <input type="number" class="form-control uni" id="al_max" name="al_max" min="1" placeholder="Max" required/>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-10">
              <div class="form-group">
                <textarea class="form-control textarea-autosize" name="descripcion" placeholder="Escribe una nota..." style="overflow: hidden; overflow-wrap: break-word; height: 50.9943px;"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Aceptar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- ----Modal---- -->
<div class="modal fade" id="modal_info" tabindex="-1">
  <div class="modal-dialog  modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left text-center">Detalles del producto <span class="producto"></span></h5>
      </div>
      <form id="form_editar_producto" autocomplete="off">
        <input type="hidden" name="id" id="id_pro"/>
        <div class="modal-body modal-body-m">
          <div class="form-row">
            <div class="col" style="flex: 0 0 18.333333%;max-width: 18.333333%;">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">#</div>
                </div>
                <input type="text" class="form-control" minlength="5" maxlength="5" id="cod" name="cod" placeholder="Codigo">
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="zmdi zmdi-coffee"></i></div>
                </div>
                <input type="text" class="form-control" id="producto" name="producto" placeholder="Producto" required/>
              </div>
            </div>
          </div>
          <div class="form-row">

            <div class="col-md-4">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="zmdi zmdi-label"></i></div>
                </div>
                <input class="form-control" maxlength="50" list="categorias" id="categoria" placeholder="Selecioné categoria" name="categoria" required/>
              </div>
            </div>
            <div class="col-md-5" >
              <div class="form-group input-group">
                <input type="number" class="form-control" id="unidad_caja" name="cantidad" placeholder="321" required/>
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <select class="select-m" id="unidad_medida" name="unidad_medida">
                      <option value="Pcs">Piezas</option>
                      <option value="Kgs">Kilogramos</option>
                    </select>
                  </div>
                </div>
                <div class="input-group-prepend">
                  <div class="input-group-text">por caja</div>
                </div>
              </div>
            </div>  
          </div>
          <div class="form-row">
            <div class="col-md-6" style="flex: 0 0 30.333333%;max-width: 30.333333%;">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Almacen</div>
                </div>
                <input type="number" class="form-control uni" name="al_min" id="min_" min="1" placeholder="" required/>
                <div class="input-group-prepend">
                  <div class="input-group-text">Minimo</div>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="flex: 0 0 30.333333%;max-width: 30.333333%;">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Almacen</div>
                </div>
                <input type="number" class="form-control uni" name="al_max" id="max_" min="2" placeholder="" required/>
                <div class="input-group-prepend">
                  <div class="input-group-text">Maximo</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-10">
              <div class="form-group">
                <textarea name="descripcion" id="descripcion" class="form-control textarea-autosize" placeholder="Escribe una nota..." style="overflow: hidden; overflow-wrap: break-word; height: 50.9943px;"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Aceptar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>