<section class="content  animated fadeIn">
  <div class="content__inner">
    <div class="row">
      <div class="col-md-6">
        <div class="card card_trans">
          <div class="card-title card-title-table"><a href="#/inventario" class="btn btn-link btn--icon--text" style="margin-top: -0.2rem"><i class="zmdi zmdi-arrow-back">&nbsp;</i> Atras</a> &nbsp;Nuevo producto </div>
          <div class="card-body body-full">
            <h6 class="mt-1 card-subtitle">Llena los campos cuidadosamente con los datos correspondientes.<br><br> <small>Campos obligatorios(*)</small> </h6>
            <form id="formulario_registro" autocomplete="off">
              <div class="row">
                <label class="col-sm-3 col-form-label">* Codigo :</label>
                <div class="col-sm-3">
                  <div class="form-group">
                    <input type="text" class="form-control" name="cod" placeholder="#000000" maxlength="7" minlength="7"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-form-label">* Producto :</label>
                <div class="col-sm-9">
                  <div class="form-group">
                    <input type="text" class="form-control" name="nombre" maxlength="100" required/>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <label class="col-sm-3 col-form-label">* Almacen :</label>
                <div class="col-sm-2 col-modal-sm-3">
                  <div class="form-group">
                    <input type="number" class="form-control" id="al_min" name="al_min" placeholder="Min" min="1" required/>
                  </div>
                </div>
                <div class="col-sm-2 col-modal-sm-3">
                  <div class="form-group">
                    <input type="number" class="form-control" id="al_max" name="al_max" placeholder="Max" min="1" required/>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-form-label">* Unidad de m :</label>

                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="radio radio--inline">
                      <input type="radio" name="unidad" id="radio_kg1" value="Kg" required/>
                      <label class="radio__label" for="radio_kg1">Kg</label>
                    </div>
                    <div class="radio radio--inline">
                      <input type="radio" name="unidad" id="radio_pcs1" value="Pcs" required/>
                      <label class="radio__label" for="radio_pcs1">Pcs</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-form-label">* Categoria :</label>
                <div class="col-sm-5">
                  <div class="form-group input-group">
                    <input class="form-control" maxlength="50" list="categorias" name="categoria" required/>
                    <div class="input-group-prepend">
                      <a  class="actions__item zmdi zmdi-help-outline" title="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-toggle="tooltip" data-placement="right"></a>
                    </div>
                    <datalist id="categorias">
                    </datalist>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-form-label">* Nota :</label>
                <div class="col-sm-9">
                  <div class="form-group">
                    <textarea name="descripcion" cols="1" rows="1" class="form-control" maxlength="250" required></textarea>
                    <!-- <input type="text" class="form-control" name="nombre" required/> -->
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary ml-auto d-flex">Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
