<section class="content  animated fadeIn">
  <div class="content__inner">
    <div class="row">
      <div class="col-md-12">
        <div class="card card_trans">
          <div class="card-title card-title-table">Inventario/
            <span style="text-transform: capitalize;font-size: 1rem">Requerimiento</span>
          </div>
          <div class="actions actions-trans">
            <button class="btn btn-primary btn--icon-text" id="enviar"><i class="zmdi zmdi-check"></i>Enviar</button>
          </div>
          <div class="card-body card-body-table body-full">
            <div class="row">
              <div class="col-md-6">
                <div class="table-responsive">
                  <table id="table_reque" class="table table-striped" width="100%">
                    <thead class="thead-default">
                      <tr>
                        <th>Producto</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        
                        <th>Producto</th>
                        <th>Acciones</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div class="col-md-6">
                <div class="table-responsive">
                  <table id="table_confirmar" class="table table-striped" width="100%">
                    <thead class="thead-default">
                      <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        
                        <th>Producto</th>
                        <th>Cantidad</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="modal_cantidad" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered cantidad">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left"></h5>
      </div>
      <form id="reque_cantidad">
        <div class="modal-body" style="padding-bottom: 0rem;">
          <div class="row mt-3">
            <label class="col-sm-4 col-form-label">* Cantidad :</label>
            <div class="col-sm-5">
              <div class="form-group input-group-prepend">
                <input type="number" class="form-control" id="r_cantidad">
                <div class="input-group-append">
                  <span class="input-group-text" id="req_uni"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-link">Aceptar</button>
          <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- ----Modal---- -->
<div class="modal fade" id="modal_enviar" tabindex="-1">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left text-center">ENVIAR</h5>
      </div>
      <form id="enviar">
        <div class="modal-body modal-body-m">
            <div class="form-row">
                <div class="col" style="flex: 0 0 45.333333%;max-width: 45.333333%;">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="zmdi zmdi-calendar"></i></div>
                        </div>
                        <input type="date" class="form-control date" name="fecha_i" placeholder="Fecha de envio">
                    </div>
                </div>
            </div>
            <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Proveedor">
            </div> -->
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="proveedor" placeholder="Destino" value="Muchi's Cafe C.A">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group input-group">
                        <input type="text" class="form-control" name="precio" placeholder="Transporte">
                    </div>
                </div>
                
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Aceptar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>