<section class="content  animated fadeIn">
        <div class="content__inner">
            <div class="card card_trans">
                <div class="card-title card-title-table">Inventario/
                    <span style="text-transform: capitalize;font-size: 1rem">Salidas</span>
                </div>
                <div class="actions actions-trans">
                    <a href="#" class="btn btn-primary btn--icon-text" id="mostrar_todo"><i class="zmdi zmdi-format-list-numbered"></i>Mostrar todo</a>
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item">Refresh</a>
                            <a href="#" class="dropdown-item">Manage Widgets</a>
                            <a href="#" class="dropdown-item">Settings</a>
                        </div>
                    </div>
                </div>
                <div class="card-body body-full">
                    <div class="row">
                        <div class="col-12">
                            <form id="form_buscar_poducto" class="form-row">
                                <label class="col-auto col-form-label">Buscar producto :</label>
                                <div class="col-5">
                                    <div class="input-group">
                                        <input list="mostrar_opciones" class="form-control" id="buscar_producto">
                                        <div class="input-group-prepend">
                                            <a class="actions__item zmdi zmdi-search" title="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-toggle="tooltip" data-placement="right"></a>
                                        </div>
                                        <datalist id="mostrar_opciones">
                                            <option value="#00001 Internet Explorer">Some Description</option>
                                            <option value="#00002 Firefox">Some Description</option>
                                            <option value="#00003 Chrome">Some Description</option>
                                            <option value="#00004 Opera">Some Description</option>
                                            <option value="#00005 Safari">Some Description</option>
                                        </datalist>
                                    </div>
                                </div>
                            </form>
                            <fieldset id="detalles_producto">
                                <legend>DETALLES DEL PRODUCTO</legend>
                                <div class="form-row">
                                    <label class="col-auto col-form-label">Codigo : </label>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control flush" id="codigo_entrada" placeholder="#0000">
                                        </div>
                                    </div>
                                    <label class="col-auto col-form-label">Producto : </label>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control flush" id="producto_entrada" placeholder="Producto">
                                        </div>
                                    </div>
                                    <label class="col-auto col-form-label">Categoria : </label>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control flush" id="categoria_entrada" placeholder="Categoria">
                                        </div>
                                    </div>
                                    <label class="col-auto col-form-label">Stock : </label>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control flush" id="stok_entrada" placeholder="Stock">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="table-responsive">
                                <table id="table_entradas" class="table table-striped">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Fecha e.</th>
                                            <th>Proveedor</th>
                                            <th>Fecha v.</th>
                                            <th>Precio</th>
                                            <th>Unidad</th>
                                            <th>Cantidad</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
    </section>