<section class="content  animated fadeIn">
  <div class="content__inner">
    <div class="card card_trans">
      <div class="card-title card-title-table">Seguimiento</div>
      <div class="actions actions-trans"></div>
      <div class="card-body body-full">
        <div class="row">
          <div class="col-12">
           <table class="table table-seguimiento table-striped">
             <thead>
               <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
             <tr>
               <td>2018-11-26</td>
               <td>Saco de cafe en granos el monte verde</td>
               <td>123 (KG)</td>
               <td>
                <ul class="nav nav-tabs process-model more-icon-preocess">
                  <li class=""><i class="zmdi zmdi-local-store" aria-hidden="true"></i>
                    <p>En espera</p>
                  </li>
                  <li class=""><i class="zmdi zmdi-local-shipping" aria-hidden="true"></i>
                    <p>En camino</p>
                  </li>
                  <li class=""><i class="zmdi zmdi-assignment-check" aria-hidden="true"></i>
                    <p>Entregado</p>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<div class="modal fade" id="modal_seguimiento" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Detalles de seguimeinto</h5>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Codig</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2018-11-26</td>
                    <td>#29364</td>
                    <td>Saco de cafe en granos el monte verde</td>
                    <td>123 (KG)</td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <h5 class="modal-title pull-left mt-1">Estado del producto</h5>
          <ul class="nav nav-tabs process-model more-icon-preocess process-modal">
            <li class="active">
              <a href="#" id="salida">
                <i class="zmdi zmdi-local-store"></i>
                <p>Salida : <br> <strong>Miguel Regnault</strong></p>
              </a>
              
            </li>
            <li class="">
              <a href="#" id="transporte">
                <i class="zmdi zmdi-local-shipping"></i>
                <p>Transporte : <br> <strong>Miguel Regnault</strong></p>
              </a>
            </li>
            <li class="">
              <a href="#" id="entregado">
                <i class="zmdi zmdi-assignment-check"></i>
                <p>Entregado : <br> <strong>Miguel Regnault</strong></p>
              </a>
            </li>
          </ul>
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-link">Aceptar</button>
          <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>